﻿@model Contact
<!-- Container (The Header Section) -->
<div class="container-fluid" style="width:78%; padding-top:63px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/images/2.jpg" alt="LeGourmet Catering" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Le Gourmet Catering</h3>
                    <p>We love dessert!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/4.jpg" alt="LeGourmet Catering" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Le Gourmet Catering</h3>
                    <p>We love food!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/25.jpg" alt="LeGourmet Catering" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Le Gourmet Catering</h3>
                    <p>We love soup!</p>
                </div>
            </div>



            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <!-- Container (The About Catering Section) -->

    <div id="about">
        <h1 class="text-center" style="padding-top: 70px;">About Catering</h1>
        <br />
        <p style="font-size:large" class="text-center"><em>Tradition since 2001</em></p>
        <p style="font-size:medium" class="text-center">
            The Catering was founded in Cluj-Napoca by Oana Ujica.
            Delicious catering for every occasion LeGourmet is one of the finest caterers in Cluj-Napoca. We are a family run restaurant that has built an excellent reputation for our delicious food.
            Tickle your taste buds with flavours from around the world in the city of Cluj-Napoca. Business lunch and large order can now be order the same day delivery.
            Event catering must be ordered with at least a week’s notice. Get in touch with one of our team members. We understand how important your special event is to you and we have a reputation for on-time delivery, attention to detail and excellent customer service.
            With over 16 years in this business, we specialise in event catering and business lunch delivery. <a href="#contact">Contact us</a> for further details.
        </p>
        <br>
        <div class="row">
            <div class="container text-center" style="padding:40px 80px; padding-bottom:100px;">
                <div class="col-sm-4">
                    <p class="text-center"><strong>Soup</strong></p><br>
                    <a href="#demo3" data-toggle="collapse">
                        <img src="~/images/5.jpg" class="img-circle person" alt="Soup" width="255" height="255">
                    </a>
                    <div id="demo3" class="collapse">
                        <p>Soup Cream</p>
                        <p>Mushrooms</p>
                        <p>Parsley</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Cake</strong></p><br>
                    <a href="#demo" data-toggle="collapse">
                        <img src="~/images/6.png" class="img-circle person" alt="Cake" width="255" height="255">
                    </a>
                    <div id="demo" class="collapse">
                        <p>Cake</p>
                        <p>Raspberry</p>
                        <p>Cheesecake</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Main course</strong></p><br>
                    <a href="#demo2" data-toggle="collapse">
                        <img src="~/images/7.jpg" class="img-circle person" alt="Main Course" width="255" height="255">
                    </a>
                    <div id="demo2" class="collapse">
                        <p>Breakfast</p>
                        <p>Eggs</p>
                        <p>Smoothies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container (Menu Section) -->


<div class="container">
    <hr />
    <div>
        <div id="menu">
            <h1 class="text-center" style="padding-top:70px;">Our Menu</h1>
            <br />
            <p class="text-center" style="font-size:large; color:darkcyan">Please click on the image if you want to visualize our full menu.</p>
            <div class="row">
                <div>
                    <div class="text-center">
                        <a asp-controller="Menu" asp-action="Index">
                            <img src="~/images/8.jpg" alt="Cake" class="btn; img-responsive" style="padding:0px 160px; padding-bottom:100px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="container" style="padding-bottom:40px;">
    <hr>
    <div id="contact">
        <h1 class="text-center" style="padding-top: 70px;">Contact</h1>
        <br />
        <p style="font-size:large; color:darkcyan">We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
        <p style="font-size:large; color:darkcyan">Do not hesitate to contact us.</p>
        <br /><br />
        <div class="row">
            <div class="col-md-4">
                <p>Interested? Drop a note.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span>Cluj-Napoca, RO</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: +04 0744102720</p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: oana.m.ujica@gmail.com</p>
            </div>

            <form asp-action="Index" method="post" role="form">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" asp-for="Name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" asp-for="Email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <div>
                        <textarea class="form-control" asp-for="Message" placeholder="Message\Special requirement" rows="5" required></textarea>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn pull-right button1" type="submit">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <br>
    </div>

    <!-- Image of location/map (Google Maps Section) -->
    <br>
    <div id="map" style="width:100%; height:360px;"></div>

    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(46.765850, 23.553433), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR7YsKYn9RyEi-J9y0t1EEZqe_0-KehXA&callback=myMap"
            type="text/javascript"></script>

</div>
