﻿.button1:hover {
    background-color: cadetblue;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 6px;
    font-size: 30px;
}
